<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <form action="@Url.Action("LogOff", "Account")" method="post" id="loginForm">
                    @Html.AntiForgeryToken()
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h1 id="title">@User.Identity.Name</h1>
                        <a style="cursor:pointer" name="Logout" value="Logout" class="" onclick="document.getElementById('loginForm').submit();"> Logout </a>
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", new { controller = "Account" }, new { @class = "" });

                    }
                </form>

            </div>

            <!-- Nav -->
            <nav id="nav">
                <!--

                    Prologue's nav expects links in one of two formats:

                    1. Hash link (scrolls to a different section within the page)

                       <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                    2. Standard link (sends the user to another page/site)

                       <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

                -->
                <ul>
                    <li><a href="@Url.Action("Contact", "Home")" id="mymain-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
                </ul>
            </nav>

        </div>

    </div>

    <div id="main">
        <section id="myMain" class="two">
            <div class="container">

                @RenderBody()

            </div>
        </section>
        

    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

    </div>

    

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.scrollzer.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
